//*******
///Running in a server with lsf and singularity
//*******

//singularity.enabled = true
//singularity.autoMounts = true
//singularity.cacheDir = "$PWD/Sing-Images/"
//process.executor = 'lsf'

//*******
//Running in a local machine with docker installed
//*******

docker.enabled         = true
docker.userEmulation   = true

//option to make it run on mac with M1/M2 processor
docker.runOptions = '--platform linux/amd64'

//*******
//params
//*******

//align_ref = "/data/baca/users/bjf35/cfchip_pipeline/original/ref_files/hg19/bwa_indices"
//singularity_version = 'singularity/3.7.0'
//singularity_folder = "$PWD/Sing-Images/"

//fastq = "$PWD/raw_data/test"

params {

snps_ref = "/Users/prc992/Desktop/DFCI/1-cfpipeline/ref_files/SNPs/SNPs.1e5.txt"
fast_align = "/Users/prc992/Desktop/DFCI/1-cfpipeline/ref_files/hg19/version0.7.15/hg19.fasta"
align_ref = "/Users/prc992/Desktop/DFCI/1-cfpipeline/ref_files/hg19/bwa_indices"
states_ref = "/Users/prc992/Desktop/DFCI/1-cfpipeline/ref_files/states"
oudir_analysis = "analysis"
outdir_fastq = "1-fastqc"
outdir_trim = "2-trimmed"
outdir_align = "3-align"
outdir_lib_complex = "4-1-lib_complex"
outdir_peak = "6-peak"
outdir_bigwig = "7-bigwig"
outdir_snp = "8-SNP"
outdir_bamtobed = "9-bamtobed"

threads = 1
queue = 'normal'
}