singularity.enabled = true
singularity.autoMounts = true
process.executor = 'lsf'

params {
singularity_version = 'singularity/3.7.0'
fastq = "/data/baca/users/pd004/5-vanilas/raw_data/test"
outdir_fastq = "/data/baca/users/pd004/5-vanilas/5-Singularity-LSF/analysis/fastqc/"
outdir_trim = "/data/baca/users/pd004/5-vanilas/5-Singularity-LSF/analysis/trimmed/"
outdir_align = "/data/baca/users/pd004/5-vanilas/5-Singularity-LSF/analysis/align"
align_ref = "/data/baca/users/bjf35/cfchip_pipeline/ref_files/hg19/bwa_indices/"
threads = 2
queue = 'normal'
}